.markdown-body .learn-css3{
  .example{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin:20px auto;
    border:{
      top:1px solid black;
      bottom:1px solid black;
      right:2px solid black;
      left:2px solid black;
    }
    &::after{
      content: '';
      clear:both;
      display: block;
      height: 0;
    }
  }


  .example.button{
    .button{
      padding: 6px 16px;
      border: 1px solid #446d88;
      background: #58a linear-gradient(#77a0bb, #58a);
      border-radius: 4px;
      box-shadow: 0 1px 5px gray;
      color: white;
      text-shadow: 0 -1px 1px #335166;
      font-size: 20px;
      line-height: 30px;
    }

    .button-evalution{
      font-size:20px;
      padding: .3em .8em;
      border: 1px solid rgba(0,0,0,.1);
      background: #60cbc6 linear-gradient( hsla(0,0%,100%,.2),transparent );
      border-radius: .2em;
      box-shadow: 0 .05em .25em rgba(0,0,0,.5);
      color: white;
      text-shadow: 0 -.05em .05em rgba(0,0,0,.5);
      line-height: 1.5;
    }
  }

  .example.hr{

    color:#f12483;

    .hr{
      height: .5em;
      background: currentColor;
    }
  }
  .example.inherit{
    a{
      color:inherit;
    }
    h3{
      color:#2a5b4d;
    }
    h4{
      color:#f16c82;
    }
    h5{
      color:#4f86d9;
    }
  }

  %box{
    width: 100px;
    height: 100px;
  }

  .example.opacity-border{
    .box{
      @extend %box;
      margin:0 auto;
      border:10px solid rgba(0,0,0,0.2);
      background: #2d9413;
      background-clip: padding-box;
    }
  }

  .example.muti-border{
    .box1{
      @extend %box;
      margin:0 15px;
      background: rgba(#68d641, 0.84);
      float:left;

      box-shadow: 0 0 0 5px black, 0 0 0 10px #e88d22, 0 0 0 15px #da3e96;
    }
    .box2{
      margin:0  15px;
      @extend %box;
      background: #d78280;
      float:left;
      border-radius: 5px;
      outline: 1px dotted white;
      outline-offset: -8px;
    }
  }

  .example.background-position{
    .box1,.box2,.box3{
      width: 200px;
      height: 200px;
      margin:10px;
      float:left;
      box-sizing: content-box;
      border:1px solid #95ddaf;
      background-image:url('/blog/images/bg.png');
      background-repeat:no-repeat;
      background-size: 100px 100px;
      background-clip: padding-box;
    }
    .box1{
      background-position: left 20px top 10px;
    }
    .box2{
      padding: 10px;
      background-position: bottom 0px right 10px;
    }
    .box3{
      outline: 8px solid #cedd07;
      border-radius: 20px;
      box-shadow: 0 0 0 8px #cedd07;
      background-position: calc(100% - 20px) calc(100% - 10px);
    }
  }

  .example.gradient{
    .box1{
      position: relative;
      @extend %box;
      border:1px solid black;
      margin:5px;
      float:left;
      background: linear-gradient(#3ef4cb,#f0cd54);
      .line1{
        width:100%;
        height: 1px;
        position: absolute;
        border-bottom:1px dotted black;
        top:20%;
      }
      .line2{
        width:100%;
        height: 1px;
        height: 1px;
        position: absolute;
        border-bottom:1px dotted black;
        bottom:20%;
      }
    }
    .box2{
      @extend %box;
      margin:5px;
      border:1px solid black;
      float:left;
      background: linear-gradient(#a780d9 20%,#137fd1 80%);
    }
    .box3{
      @extend %box;
      margin:5px;
      border:1px solid black;
      float:left;
      background: linear-gradient(#a780d9 50%,#137fd1 50%);
    }
    .box4{
      @extend %box;
      margin:5px;
      border:1px solid black;
      float:left;
      background: linear-gradient(#b88193 50%,#168742 50%);
      background-size: 100% 30px;
    }
    .box5{
      @extend %box;
      margin:5px;
      border:1px solid black;
      float:left;
      background: linear-gradient(90deg, #b88193 30%,#168742 30%);
      background-size: 30px 100%;
    }
    .box6{
      @extend %box;
      margin:5px;
      border:1px solid black;
      float:left;
      background: linear-gradient(45deg, #fb3 25%, #58a 0, #58a 50%, #fb3 0, #fb3 75%, #58a 0);
      background-size: 30px 30px;
    }
    .box7{
      @extend %box;
      margin:5px;
      border:1px solid black;
      float:left;
      background: white;
      background-image: linear-gradient(90deg,
      rgba(200,0,0,.5) 50%, transparent 0),
      linear-gradient(
      rgba(200,0,0,.5) 50%, transparent 0); background-size: 30px 30px;
    }


  }

}
